$borderWidth: 4px;

.card {

  border-color: var(--card-theme);
  z-index: 0;
  border-radius: 15px;
  position: relative;

  &--leave {
    --card-theme: var(--accent-color-leave);
  }

  &--active {
    --card-theme: var(--active-color);
  }

  &--active.card--leave {
    --card-theme: var(--active-color-leave);

    & .card__header {
      color: var(--active-color);
    }
  }

  &--disable {
    --card-theme: var(--disable-color);
  }

  &--disable .card__title,
  &--disable .card__header-text,
  &--disable .card__text {
    color: var(--disable-text-color);
  }

  &--disable .card__image {
    opacity: 0.5;
  }

  &__content {
    width: 320px;
    min-height: 480px;
    display: grid;
    grid-template-rows: 40px 1fr;
    justify-items: end;
    // width: calc(100% + $borderWidth*2);
    position: relative;
    border-color: inherit;
    cursor: pointer;
  }

  &__header {
    width: calc(100% - 40px);
    background: var(--card-bg-color);
    border-color: inherit;
    border-style: solid;
    border-width: $borderWidth $borderWidth 0 0;
    border-radius: 0 10px 0 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 18px;
    padding-left: 10px;

    &--angry-cat {
      color: #E62E7A;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 16px;
      left: 5px;
      z-index: -1;
      transform: rotate(-46deg);
      background: var(--card-bg-color);
      width: 58px;
      height: 40px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 19px;
      left: -6px;
      transform: rotate(-45deg);
      width: 57px;
      height: 0px;
      border-color: inherit;
      border-style: solid;
      border-width: 4px 0 0 0;
    }
  }

  &__header-text {
    margin: 0;
    color: var(--secondaty-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  &__main {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--card-bg-color);
    border-color: inherit;
    border-style: solid;
    border-width: 0 $borderWidth $borderWidth $borderWidth;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
  }

  &__properties {
    padding-left: 46px;
  }

  &__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 48px;
    line-height: 33px;
    margin-top: 17px;
    margin-bottom: 10px;
    margin-left: -2px;

    &--little {
      font-size: 24px;
      padding-left: 2px;
    }
  }

  &__text {
    color: var(--secondaty-text-color);
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    &--portion-count {
      font-weight: 700;
    }
  }

  &__image {
    width: 100%;
  }

  &__buy {
    height: 43px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--default-color);
    cursor: auto;

    &--disable {
      color: #FFFF66;
    }
  }

  &__botton-buy {
    background: transparent;
    border: none;
    color: var(--card-theme);
    margin: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__weight {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: var(--card-theme);
    color: var(--default-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 21px;
    line-height: 15px;
    text-align: center;

    &--count {
      padding-top: 13px;
      font-size: 42px;
    }
  }
}